<div class="home_tpl">
    <!--模板1-->
    <div class="tplOne" ng-show="true">
        <span class="tag">洗洗睡</span>
        <h4 class="HomeTitle">模板一标题模板一标题</h4>
        <p class="content">
            中印边境对峙已经持续了一段时间，各方之动态已不必赘述。在这个节骨眼上，很多人想起1962年的中印之战。那一场被毛主席誉为“至少保持边境20年的和平”的一仗，在印度人心中是挥之不去的痛，但在国内，其实很多人并不了解。所以今天，我们推荐给大家一个战争亲历者讲述的故事。</p>
    </div>
    <!--模板2-->
    <div class="tplTwo" ng-show="true">
        <span class="tag">洗洗睡</span>
        <h4 class="HomeTitle">模板一标题模板一标题</h4>
        <div class="contentImg">
            <p class="content">
                中印边境对峙已经持续了一段时间，各方之动态已不必赘述。在这个节骨眼上，很多人想起1962年的中印之战。那一场被毛主席誉为“至少保持边境20年的和平”的一仗，在印度人心中是挥之不去的痛，但在国内，其实很多人并不了解。所以今天，我们推荐给大家一个战争亲历者讲述的故事。
            </p>
            <img src="images/home/post_1.png">
        </div>
    </div>
<!--
        &lt;!&ndash;模板3&ndash;&gt;
        <div class="tplThree" ng-show="true">
            <span class="tag">洗洗睡</span>
            <h4 class="HomeTitle">模板一标题模板一标题</h4>
            <div class="img">
                <img src="images/home/post_3.png">
                <img src="images/home/post_4.png">
                <img src="images/home/post_5.png">
            </div>
        </div>-->
    </div>
