<div class="tabfoot">
    <ul>
        <li ng-click="tabChange(0)">
            <p><img ng-src="images/tabbar/{{index== 0 ?'homeSel.png':'home_icon.png'}}" alt=""></p>
            <p ng-class="{active:index==0}">首页</p>
        </li>
        <li ng-click="tabChange(1)">
            <p><img ng-src="images/tabbar/{{index==1?'authorSel.png':'author_icon.png'}}" alt=""></p>
            <p ng-class="{active:index==1}">作者</p>
        </li>
        <li ng-click="tabChange(2)">
            <p><img ng-src="images/tabbar/{{index==2?'contentSel.png':'content_icon.png'}}" alt=""></p>
            <p ng-class="{active:index==2}">栏目</p>
        </li>
        <li ng-click="tabChange(3)">
            <p><img ng-src="images/tabbar/{{index==3?'mySel.png':'my_icon.png'}}" alt=""></p>
            <p ng-class="{active:index==3}">我</p>
        </li>
    </ul>
</div>