<div class="tabfoot">
    <ul>
        <li ng-click="tabChange(0)">
            <p><img src="images/tabbar/home_icon.png" alt=""></p>
            <p>首页</p>
        </li>
        <li ng-click="tabChange(1)">
            <p><img src="images/tabbar/author_icon.png" alt=""></p>
            <p>作者</p>
        </li>
        <li ng-click="tabChange(2)">
            <p><img src="images/tabbar/content_icon.png" alt=""></p>
            <p>栏目</p>
        </li>
        <li ng-click="tabChange(3)">
            <p><img src="images/tabbar/my_icon.png" alt=""></p>
            <p>我</p>
        </li>
    </ul>
</div>