.tabfoot{
  width: 100%;
  .h(55);
  border-top: 1px solid #ccc;
  .pt(5);
  position: fixed;
  left: 0;
  bottom:0;
  ul{
    width: 100%;
    display: flex;

    li{
      flex:1;
      text-align: center;
      img{
        .w(23);
      }
      p{
        .fs(15);
      }
    }
  }
}
.active{
  color:lightseagreen;
}